*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #5CDB95;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: #EDF5E1;
    font-size:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
}

.button {
    margin: 10px;
    width: 150px;
    height: 70px;
    color: #EDF5E1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #05386B;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    border-radius: 20px;
    border: none; 
    cursor: pointer;
}
.button:hover{
    background-color: #194c80;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid #05386B;
    border-radius: 10px;
    z-index: 10;
    color: #05386B;
    background-color: #5CDB95;
    width: 500px;
    max-width: 80%;
}
.form_popup.active{
    transform: translate(-50%,-50%) scale(1);
}
.form_header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #05386B;
}
.form_title{
    font-weight: bold;
    font-size: 1.25rem;
}
.close-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.form_body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.form_body input {
    margin-bottom: 10px;
    background-color: #EDF5E1;
    border: 2px solid #05386B;
    color: #05386B;
}

.form_body input:focus {
    border-color: #5CDB95;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.452);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#library{
    display: flex;
}
.book_element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 300px;
    border: 2px solid #379683;
    border-radius: 12px;
    background-color: #8EE4AF;
    padding: 10px;
    margin: 10px;
    color: #05386B;
}
.book_element button{
    transform: scale(0.8);
    margin: 0px
}
.book_title{
    font-size: 21px;
}
.author{
    font-style: italic;
    font-size: 18px;
}